exportPattern("^[[:alpha:]]+")
#' @import airGR
#' @import foreach
#' @import hydroGOF
#' @import ncdf4
#' @import raster
#' @import rgdal
#' @import rgeos
#' @import rgrass7
#' @import rtop
#' @import tictoc
